In [1]:
import wandb

In [3]:
api = wandb.Api()
run = api.run("cx9/ddpo-pytorch/b89nfpve")

In [4]:
data = run.history()

In [21]:
import pandas as pd

In [61]:
df_raw = pd.concat(data.dropna(subset='images').apply(lambda x: pd.DataFrame(x['images'])[['filenames', 'captions']], axis=1).to_list()).reset_index()
df_raw

,index,filenames,captions
0,0,media/images/images_0_cc1764eb40e365c7c36c.jpg,photo of a surveyor | -82.27
1,1,media/images/images_0_43c5f33c8510d628b37e.jpg,photo of a nuclear engine | -102.05
2,2,media/images/images_0_7cdd44e1729de9691981.jpg,photo of a meteorologist | -75.22
3,3,media/images/images_0_5ca5e0eaa9cf3a4cf56e.jpg,photo of a meteorologist | -67.30
4,4,media/images/images_0_34a49a81d2ecf402b5ee.jpg,photo of a artificial int | -75.73
...,...,...,...
187,11,media/images/images_175_1e0e1da2c6b92ef881a1.jpg,photo of a electrical eng | -51.10
188,12,media/images/images_175_02099e1cffedf35ad90f.jpg,photo of a meteorologist | -51.65
189,13,media/images/images_175_da03ed2a95ffbc5f2835.jpg,photo of a materials scie | -54.62
190,14,media/images/images_175_1cdc6c68bf88aabe0c49.jpg,photo of a sonar engineer | -74.77
191,15,media/images/images_175_19b0f0e7a0b2da16c4ef.jpg,photo of a surveyor | -66.00

In [62]:
# split captions using ' | ', add the prompt and reward columns
caption_df = df_raw['captions'].str.split(' \| ', expand=True).rename(columns={0: 'prompt', 1: 'reward'})
image_df = df_raw['filenames'].str.split('/').str[-1].str.split('.').str[0].str.split('_', expand=True)[[1, 2]].rename(columns={1: 'step', 2: 'name'})
df = pd.merge(image_df, caption_df, left_index=True, right_index=True)

In [63]:
df

    step                  name                     prompt   reward
0      0  cc1764eb40e365c7c36c        photo of a surveyor   -82.27
1      0  43c5f33c8510d628b37e  photo of a nuclear engine  -102.05
2      0  7cdd44e1729de9691981   photo of a meteorologist   -75.22
3      0  5ca5e0eaa9cf3a4cf56e   photo of a meteorologist   -67.30
4      0  34a49a81d2ecf402b5ee  photo of a artificial int   -75.73
..   ...                   ...                        ...      ...
187  175  1e0e1da2c6b92ef881a1  photo of a electrical eng   -51.10
188  175  02099e1cffedf35ad90f   photo of a meteorologist   -51.65
189  175  da03ed2a95ffbc5f2835  photo of a materials scie   -54.62
190  175  1cdc6c68bf88aabe0c49  photo of a sonar engineer   -74.77
191  175  19b0f0e7a0b2da16c4ef        photo of a surveyor   -66.00

[192 rows x 4 columns]